# Enable Powerlevel10k instant prompt. Should stay close to the top of ~/.zsh/.zshrc.
# Initialization code that may require console input (password prompts, [y/n]
# confirmations, etc.) must go above this block; everything else may go below.
if [[ -r "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh" ]]; then
  source "${XDG_CACHE_HOME:-$HOME/.cache}/p10k-instant-prompt-${(%):-%n}.zsh"
fi

# use antigen
{{ if eq .chezmoi.os "darwin" }}
# darwin
source /opt/homebrew/share/antigen/antigen.zsh
# use oh-my-zsh
antigen use oh-my-zsh
antigen bundle macos
{{ else if eq .chezmoi.os "linux" }}
# linux
source $HOME/antigen.zsh
# use oh-my-zsh
antigen use oh-my-zsh
{{ else }}
# other operating system
{{ end }}


# plugins
antigen bundle git
antigen bundle Aloxaf/fzf-tab
antigen bundle unixorn/fzf-zsh-plugin@main
antigen bundle zsh-users/zsh-autosuggestions
antigen bundle zsh-users/zsh-completions
antigen bundle zsh-users/zsh-syntax-highlighting
antigen bundle jeffreytse/zsh-vi-mode
antigen bundle sudo
antigen bundle docker
antigen bundle docker-compose
antigen bundle z
antigen bundle vscode
antigen bundle k
antigen bundle hlissner/zsh-autopair
antigen bundle copybuffer
antigen bundle web-search

# check if in kitty
if [ -n ${KITTY_WINDOW_ID+x} ]; then
  export TERM='xterm-256color'
  alias kssh="kitty +kitten ssh"
  alias d="kitty +kitten diff"
  antigen bundle zsh-kitty
  function klv() {
  	export PROJECT_DIR=$1
  	kitty --session ~/.config/kitty/code.conf &!
  }
fi


# theme
antigen theme romkatv/powerlevel10k

# apply antigen
antigen apply

# TERM variable
export TERM='xterm-256color'

{{ if eq .chezmoi.hostname "lukas-mbp" }}
# set PATH
export MAKEFLAGS=-j$(sysctl -n hw.ncpu)
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/go/bin:$PATH
export PATH=$HOME/Library/Python/3.8/bin:$PATH
export PATH=$HOME/.npm-global/bin:$PATH
{{ else if eq .chezmoi.hostname "lgu-ubuntu" }}
export MAKEFLAGS=-j$(nproc)
export PATH=$HOME/.local/bin:$PATH
export PATH=$HOME/go/bin:$PATH
export PATH=$HOME/stagetec/scripts:$PATH
export PATH=$HOME/.cargo/bin:$PATH
{{ end }}

{{ if eq .chezmoi.os "darwin" }}
# homebrew
if type brew &>/dev/null
then
  FPATH="$(brew --prefix)/share/zsh/site-functions:${FPATH}"

  autoload -Uz compinit
  compinit
fi
{{ end }}

# editor settings
# Preferred editor for local and remote sessions
if [[ -n $SSH_CONNECTION ]]; then
   export EDITOR='vim'
else
   export EDITOR='lvim'
fi

# lunarvim shorthands
alias lv="lvim"
alias lvv="lvim ."

# ctrl-t
## export FZF_CTRL_T_COMMAND='rg --files --no-ignore --hidden --follow --glob "!**.git/*" --glob "!vendor/*" 2>/dev/null'
# fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# config management
alias update-config="chezmoi git pull -- --rebase && chezmoi diff"

# use direnv
eval "$(direnv hook zsh)"

# replace system tools
alias mv="mv -v"
alias cp="cp -v"
alias rm="rm -v"

# ls => exa
if command -v exa &> /dev/null; then
  # style
  export EXA_COLORS="ur=32:uw=32:ux=32:ue=32"
  export EXA_COLORS="gr=31:gw=31:gx=31":$EXA_COLORS
  export EXA_COLORS="tr=33:tw=33:tx=33":$EXA_COLORS
  alias l="exa -hFl --group-directories-first --color=auto --git --icons --no-permissions --no-user --no-filesize --no-time"
  alias ll="exa -ahFl --group-directories-first --color=auto --git --icons --time-style=long-iso"
  cd() { builtin cd "$@" && exa -hF --group-directories-first --color=auto --git --icons --no-permissions --no-user --no-time; }
fi

# cat => bat
if command -v bat &> /dev/null; then
  alias cat="bat --paging=never"
fi

# handle terminal
alias cl="clear"
# git shorthands
alias gs="git switch"
alias gc="git commit"
alias gpull="git pull"
alias gpush="git push"
alias gstat="git status --short"

# lazytools
alias ld="lazydocker"
alias lg="lazygit"

# vi mode in zsh
ZVM_VI_INSERT_ESCAPE_BINDKEY=jk
bindkey -M vicmd "k" up-line-or-beginning-search
bindkey -M vicmd "j" down-line-or-beginning-search

# To customize prompt, run `p10k configure` or edit ~/.zsh/.p10k.zsh.
[[ ! -f ~/.zsh/.p10k.zsh ]] || source ~/.zsh/.p10k.zsh
