[user]
	name = Lukas Güldenstein
	email = lukas.gueldenstein@dbaudio.com
	signingkey = 4D86F085BC79F3A9

# usability
[core]
	editor = nvim
	excludesfile = ~/.gitignore
	pager = delta
[delta]
    side-by-side = true
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
[interactive]
    diffFilter = delta --color-only
[column]
	ui = auto
[branch]
	sort = -committerdate
[tag]
	sort = version:refname
[submodule]
	recurse = true
[init]
	defaultBranch = main
[commit]
	verbose = true
	gpgsign = true
[tag]
	gpgSign = true
[diff]
	algorithm = histogram
[blame]
  ignoreRevsFile = .git-blame-ignore-revs
[includeIf "gitdir:~/private/"]
	path = ~/private/.gitconfig
[merge]
	conflictstyle = zdiff3
[help]
	autocorrect = prompt

# working with remotes
[push]
	default = simple
	autoSetupRemote = true
[fetch]
	prune = true
[pull]
	rebase = true

# git lfs
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f

# rebase workflow
[rerere]
	enabled = true
	autoupdate = true
[rebase]
	autosquash = true
	autostash = true
	updateRefs = true


[alias]
	fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	st = "status"
	pll = "pull"
	p = "push --force-with-lease"
	unstage = "reset HEAD --"
	last = "log -1 HEAD"
	wta = "!f() { \
		branch_name=$(git branch --list --no-merged | fzf | awk '{print $1}'); \
		dir_name=$(echo $branch_name | sed 's/\\//_/g'); \
		git worktree add ../$dir_name $branch_name; \
		cd ../$dir_name; \
		cp ../Makefile .; \
	 	make init; \
		git submodule update; \
		}; f"
	wts = "worktree list"
	wtp = "worktree prune"
    sw = "switch"
    swc = "switch -c"
    s = status
    c = commit
    b = branch
    d = diff
    l = log --oneline

