[user]
	name = Lukas Güldenstein
{{- if eq .chezmoi.hostname "c-de-006195" }}
	email = lukas.gueldenstein@dbaudio.com
{{- else if eq .chezmoi.hostname "lukas-mbp"}}
	email = git@lukasgueldenstein.de
	signingkey = 211D3A2D04BF3AF116FE7D68ED4744442BDCFF42
{{- end }}
[core]
	editor = nvim
	excludesfile = $HOME/.gitignore
    pager = delta
[pull]
	rebase = true
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[rerere]
	enabled = true
[rebase]
	autosquash = true
	autostash = true
[init]
	defaultBranch = main
[commit]
	verbose = true
{{- if eq .chezmoi.hostname "lukas-mbp"}}
	gpgsign = true
{{- end }}
[diff]
	algorithm = histogram
[blame]
  ignoreRevsFile = .git-blame-ignore-revs

{{- if eq .chezmoi.hostname "c-de-006195" }}
[includeIf "gitdir:~/private/"]
    path = ~/private/.gitconfig
{{- else if eq .chezmoi.hostname "lukas-mbp"}}
[includeIf "gitdir:~/github/"]
    path = ~/github/.gitconfig
{{- end }}

[submodule]
  recurse = true

[alias]
	fixup = "!git log -n 50 --pretty=format:'%h %s' --no-merges | fzf | cut -c -7 | xargs -o git commit --fixup"
	st = "status"
	pll = "pull"
	p = "push --force-with-lease"
	unstage = "reset HEAD --"
	last = "log -1 HEAD"
	wta = "!f() { branch_name=$(echo \"$1\" | sed 's/\\//_/g'); git worktree add ../$branch_name $1; cp ./Makefile ../$branch_name/Makefile; cd ../$branch_name; make init; git submodule update; }; f"
	wts = "worktree list"
    sw = "switch"
    swc = "switch -c"
    s = status
    c = commit
    b = branch
    d = diff
    l = log --oneline

[interactive]
    diffFilter = delta --color-only
[delta]
    side-by-side = true
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
    line-numbers = true
