--[[
lvim is the global options object

Linters should be
filled in as strings with either
a global executable or a path to
an executable
]]
-- THESE ARE EXAMPLE CONFIGS FEEL FREE TO CHANGE TO WHATEVER YOU WANT

-- general
lvim.log.level = "warn"
lvim.format_on_save = true
lvim.colorscheme = "everforest"
vim.opt.relativenumber = true

-- lualine
lvim.builtin.lualine.style = "default"
lvim.builtin.lualine.sections.lualine_b = { "branch", "diff", "diagnostics" }

-- keymappings [view all the defaults by pressing <leader>Lk]
lvim.leader = "space"

-- disable cursors, but use up and down for scrolling
vim.api.nvim_set_keymap('', '<Up>', '<C-y>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('', '<Down>', '<C-e>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('', '<Left>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('', '<Right>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('n', '<Left>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('n', '<Right>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '<Left>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '<Right>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('', '<Left>', '<Nop>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('', '<Right>', '<Nop>', { noremap = true, silent = true })

-- keepcursor in the middle
vim.opt.scrolloff=30

-- diable mouse
vim.opt.mouse = ""
-- add your own keymapping
lvim.keys.normal_mode["<C-s>"] = ":w<cr>"

lvim.builtin.alpha.active = true
lvim.builtin.notify.active = true
lvim.builtin.terminal.active = true
lvim.builtin.project.active = false
lvim.builtin.nvimtree.setup.view.side = "left"
lvim.builtin.nvimtree.show_icons.git = 1
lvim.builtin.nvimtree.setup.actions.open_file.resize_window = true
lvim.builtin.autopairs.active = false

-- if you don't want all the parsers change this to a table of the ones you want
lvim.builtin.treesitter.ensure_installed = {
  "bash",
  "c",
  "cpp",
  "javascript",
  "json",
  "lua",
  "python",
  "typescript",
  "tsx",
  "css",
  "rust",
  "java",
  "yaml",
}

lvim.builtin.treesitter.ignore_install = { "haskell" }
lvim.builtin.treesitter.highlight.enabled = true

-- plugins
lvim.plugins = {
  {"sainnhe/everforest"},
  {"tpope/vim-repeat"},
  {
    "ggandor/lightspeed.nvim",
    event = "BufRead",
  },
  {
    "klen/nvim-config-local",
    config = function()
      require('config-local').setup {
        -- Default configuration (optional)
        config_files = { ".vimrc.lua", ".vimrc" },  -- Config file patterns to load (lua supported)
        hashfile = vim.fn.stdpath("data") .. "/config-local", -- Where the plugin keeps files data
        autocommands_create = true,                 -- Create autocommands (VimEnter, DirectoryChanged)
        commands_create = true,                     -- Create commands (ConfigSource, ConfigEdit, ConfigTrust, ConfigIgnore)
        silent = false,                             -- Disable plugin messages (Config loaded/ignored)
      }
    end
  },
  {
    "npxbr/glow.nvim",
    ft = {"markdown"}
  },
  {
    "knubie/vim-kitty-navigator",
    run = 'cp ./*.py ~/.config/kitty/'
  },
  {
    "tpope/vim-surround",
    keys = {"c", "d", "y"}
  },
  {
    "iamcco/markdown-preview.nvim",
    run = function() vim.fn["mkdp#util#install"]() end,
  }
}

-- debugging

-- termdebug
vim.cmd("packadd termdebug")
-- keymaps
vim.cmd("tnoremap <Esc> <C-\\><C-n>")
lvim.builtin.which_key.mappings["d"] = {
  name = "Debug",
  d = { "<cmd>Termdebug<cr>", "Start Termdebug" },
  b = { "<cmd>Break<cr>", "Insert Breakpoint" },
  c = { "<cmd>Clear<cr>", "Clear Termdebug" },
}

-- configure cpp debugging with lldb-vscode
lvim.builtin.dap.active = true
local dap = require('dap')
dap.adapters.lldb = {
  type = 'executable',
  command = '/opt/homebrew/opt/llvm/Toolchains/LLVM13.0.1.xctoolchain/usr/bin/lldb-vscode', -- adjust as needed
  name = "lldb"
}

-- map K to hover while debugging
local api = vim.api
local keymap_restore = {}
dap.listeners.after['event_initialized']['me'] = function()
  for _, buf in pairs(api.nvim_list_bufs()) do
    local keymaps = api.nvim_buf_get_keymap(buf, 'n')
    for _, keymap in pairs(keymaps) do
      if keymap.lhs == "K" then
        table.insert(keymap_restore, keymap)
        api.nvim_buf_del_keymap(buf, 'n', 'K')
      end
    end
  end
  api.nvim_set_keymap(
    'n', 'K', '<Cmd>lua require("dap.ui.widgets").hover()<CR>', { silent = true })
end

dap.listeners.after['event_terminated']['me'] = function()
  for _, keymap in pairs(keymap_restore) do
    api.nvim_buf_set_keymap(
      keymap.buffer,
      keymap.mode,
      keymap.lhs,
      keymap.rhs,
      { silent = keymap.silent == 1 }
    )
  end
  keymap_restore = {}
end

-- autopairs manual
--autoclose and position cursor to write text inside
vim.api.nvim_set_keymap('i', "'", "''<left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', "`", "``<left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '"', '""<left>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '(', "()<left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '[', "[]<left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '{', "{}<left>", { noremap = true, silent = true })
--autoclose with ; and position cursor to write text inside
vim.api.nvim_set_keymap('i', "';", "'';<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', "`;", "``;<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '";', '"";<left><left>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '(;', "();<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '[;', "[];<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '{;', "{};<left><left>", { noremap = true, silent = true })
--autoclose with , and position cursor to write text inside
vim.api.nvim_set_keymap('i', "',", "'',<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '`,', "``,<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '",', '"",<left><left>', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '(,', "(),<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '[,', "[],<left><left>", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '{,', "{},<left><left>", { noremap = true, silent = true })
--autoclose and position cursor after
vim.api.nvim_set_keymap('i', "'<tab>", "''", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', "`<tab>", "``", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '"<tab>', '""', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '(<tab>', "()", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '[<tab>', "[]", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '{<tab>', "{}", { noremap = true, silent = true })
--autoclose with ; and position cursor after
vim.api.nvim_set_keymap('i', "';<tab>", "'';", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '`;<tab>', "``;", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '";<tab>', '"";', { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '(;<tab>', "();", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '[;<tab>', "[];", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '{;<tab>', "{};", { noremap = true, silent = true })
--autoclose with , and position cursor after
vim.api.nvim_set_keymap('i', "',<tab>", "'',", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '`,<tab>', "``,", { noremap = true, silent = true })
vim.api.nvim_set_keymap('i', '{<CR>', "{<CR><CR>}<up><tab>", { noremap = true, silent = true })
